*{
	margin :0;
	padding:0;
	font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/montagnes.jpg);
	background-attachment:fixed;
    background-position:center;
	background-size:cover;
}

.row{
    display:flex;
    height:88%;
    align-items: center;
	padding-top: 10%;
}

#row2{
	margin-bottom: 10%;
}
.col_col1{
	width: 50%;
	padding-left: 15%;
}

.col_col2{
	width: 50%;
	align-items: center;
	justify-content: center;
}
h1{
    color:#fff;
    font-size:65px;
}

p{
    color:#fff;
    font-size:11px;
    line-height:15px;
}

button{
    width:180px;
    color:#000;
    font-size:12px;
    padding:12px 0;
    background: #fff;
    border:0;
    border-radius:20px;
    outline:none;
    margin-top:30px
}

.container .card{
    width: 30%;
	height: 230px;
    display: inline-block;
    border-radius:10px;
    box-sizing: border-box;
    cursor:pointer;
	padding: 15px 25px;
	margin:12px 17px;
    background-position:center;
    background-size:cover;
    transition: transform 0.5s;
}


.card1{
    background-image:url(images/aqua.jpg);
}
.card2{
    background-image:url(images/recupeau.png);
}
.card3{
    background-image:url(images/loups.jpg);
}
.card4{
    background-image:url(images/baignade.png);
}

.card5{
    background-image:url(images/cinema.jpg);
}
.card6{
    background-image:url(images/concert.jpg);
}

.card7{
    background-image:url(images/conference.jpg);
}
.card8{
    background-image:url(images/brocante.jpg);
}

.card:hover{
    transform:translateY(-15px);
}

h5{
    color:#fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #999;
}

/*Historique*/

.sec-1 h1{
	padding-left: 10%;
}
h4{
    text-align: start;
}

.main-title{
    font-size: 4em;
    margin-bottom: 50px;
}


.sec-1 .text-box{
	font-size: 18px;
    z-index: 222;
    text-align: justify;
    background: rgba(255 , 255 , 255 , 0.1);
    backdrop-filter: blur(20px);
    padding: 35px;
    border: 1px solid rgba(255 , 255 , 255 , 0.1);
    border-radius: 10px;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5%;
    padding: 80px 100px;
    color: #fff;
}

@media (max-width: 1280px) {

	.row{
		justify-content: center; /* Centre horizontalement */
	}


	.col_col1{		
		display: flex;
		position:relative;
		width: 100%;
		margin-bottom: 70%;
		justify-content: center; /* Centre horizontalement */	
		align-items: baseline;
	}

	.col_col1 p{
		padding: 0 2.5%;
	}
	.col_col2{
		position:absolute;
		width:60%;
		margin-left: 15%;
	}
		

}

@media (max-width: 900px) {

	.row{
		justify-content: center; /* Centre horizontalement */
	}

	.row h1{
		font-size: 3em;
	}

	#row2{
		border: 5px;
	}

	.col_col1{
		margin-top: 10%;
		margin-right: 10%;
		align-items: center;
		
	}
	.col_col2{
		margin-top: 40%;
		margin-left: 25%;
		width:80%;
	
	}
}
@media (max-width: 650px) {

	.row h1 {
		font-size: 2em;
	}

	.row .col_col1 p{
		font-size: 0.65em;
	}

	#row2{
		margin-top: 35%;
	}

	#title2{
		margin-bottom: 100%;
	}

	.col_col2{
		margin-top: 65%;
		width: 100%;
		
	}
}
