*{
	margin :0;
	padding:0;
	font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/montagnes.jpg);
	background-attachment:fixed;
    background-position:center;
	background-size:cover;
}

.row{
    display:flex;
    height:88%;
    align-items: center;
    padding-top: 15%;
}
.col{
    flex-basis:50%;
}

h1{
    color:#fff;
    font-size:65px;
}

p{
    color:#fff;
    font-size:11px;
    line-height:15px;
}
button{
    width:180px;
    color:#000;
    font-size:12px;
    padding:12px 0;
    background: #fff;
    border:0;
    border-radius:20px;
    outline:none;
    margin-top:30px
}

.card{
    width:200px;
    height:230px;
    display: inline-block;
    border-radius:10px;
    box-sizing: border-box;
    cursor:pointer;
	padding: 15px 25px;
	margin:12px 17px;
    background-position:center;
    background-size:cover;
    transition: transform 0.5s;
}
.col8{
	margin-bottom:150px;
}
.col2{
	margin-left:50px;

}

.card1{
    background-image:url(images/aqua.jpg);
}
.card2{
    background-image:url(images/recupeau.png);
}
.card3{
    background-image:url(images/loups.jpg);
}
.card4{
    background-image:url(images/baignade.png);
}

.card5{
    background-image:url(images/cinema.jpg);
}
.card6{
    background-image:url(images/concert.jpg);
}

.card7{
    background-image:url(images/conference.jpg);
}
.card8{
    background-image:url(images/brocante.jpg);
}

.card:hover{
    transform:translateY(-15px);
}
h5{
    color:#fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #999;
}

@media (max-width: 1280px) {


	.col1{		
		display: flex;
		position:relative;
		margin-left:25%;
		margin-bottom:650px;
		height:35%;
		justify-content: center; /* Centre horizontalement */
		align-items: center; /* Centre verticalement */
		
	}
	.col3{
		margin-top:10%;
		position:relative;
		margin-left:25%;
		margin-bottom:720px;
		align-items:center;
		text-align: center; /* Pour aligner horizontalement */
		height:35%;
		display: flex;
		justify-content: center; /* Centre horizontalement */
		align-items: center; /* Centre verticalement */
		min-height: 100vh; /* Hauteur minimale pour occuper toute la hauteur de la fenêtre */
	}
	.col2{
		position:absolute;
		padding: 15px 25px;
		margin:12px 17px;
		width:60%;
		margin-left:18%;
		margin-top:150px;
		
	}
	
	footer{
		margin-top:800px;
		background-color:black;
	}
	.media-icons{
		margin-top:175px;		
	}
	
	

}
@media (max-width: 900px) {
	.col1{
		margin-left:10%;
		margin-top:160px;
	}
	.col2{
		margin-left:8%; 
		margin-top:300px;
		width:85%;
	
	}
	.col3{
		margin-top:200px;
		margin-left:15%;

	}
	
	.media-icons{
		margin-left:35%;
	}
	h1{
		color:#fff; 
		font-size:60px; 
	}
}
@media (max-width: 650px) {
	.col1{
		margin-left:0%;
	}
	.col3{
		margin-left:0%;
	}
	.col2{
		margin-left:-10%;
		margin-top:300px;
		width:110%;
		
	}
}
