* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/montagnes.jpg);
    background-attachment: fixed;
    background-position:center;
	box-sizing: border-box;
}


section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5%;
    padding: 80px 100px;
    color: #fff;
}




/*****************SECTION 1*********************/
.sec-1{
    padding-left:10%;
	padding-right:10%;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-title{
    font-size: 4em;
    margin-bottom: 50px;
}

.content{
    position: relative;
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}


.content .text-box{
    z-index: 222;
    text-align: justify;
    background: rgba(255 , 255 , 255 , 0.1);
    backdrop-filter: blur(20px);
    padding: 35px;
    max-width: 40%;
    border: 1px solid rgba(255 , 255 , 255 , 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}


/*titres des sections*/

.section-title{
    font-size: 3em;
    margin-bottom: 5%;
}
/*****************SECTION 2*********************/
.sec-2{
    padding-left:20%;
	padding-right:20%;
}

.sec-2 .content{

    width: 150%;

}

.sec-2 .section-title{
    width: 100%;
    margin-right: 40%;
}

.sec-2 .image
{
    width: 100%;
}
.info-title{
    font-size: 1.8em;
    margin-bottom: 2%;
    margin-right: 5%;
}


.info{
    text-align: justify;
    width: 70%;
    margin-left: 50px;
}


/*****************SECTION 3*********************/



.sec-3 .content .text-box{
    padding: 40px;
    max-width: 35%;
    transform: translate(80px, 75px);
}

.sec-3 .text-box p{
    text-align: justify;
}

.sec-3 .text-box .info-title{
    text-align: left;
}

.sec-3 .section-title{
    margin-left: 20%;
}

/*****************FOOTER*********************/

footer {
    background-color: black;
    display: flex ;
    color: #fff;
    height: 100%;
}

footer h2{
    margin-bottom: 5%;
    color: white;
}


    /**informations**/
footer .informations{

    margin-left: 15%;
    margin-top: 2.5%;
    width: 15%;
    height: 15%;

}

footer .informations li {
    color: white;
    margin-bottom: 10%;
    margin-left: 2.5%;
    list-style-type: ">"
}

footer .informations li a{
    color: white;  
    margin-left: 5%;
    text-decoration: none;
     
}

     /**Adresse**/

     footer .adresse    {
        border: 5px solid green;
        margin-left: 5%;
        margin-top: 2.5%;
        width: 15%;
        height: 15%;
    
    }


    /**Autres**/

    footer .autres{
        border: 5px solid blue;
        margin-left: 5%;
        margin-top: 2.5%;
        width: 22.5%;
        height: 15%;

    }

    footer .autres li {
        margin-bottom: 10%;
        list-style-type: none
    }

    footer  .autres li a{
        color: white; 
        text-decoration: none;
    }

    footer  .autres li svg{

        margin-right: 5%;
        
    }


    /**Icones**/

    footer .icones{
        position: relative;
        display:flex;
        flex-direction: column;
        margin-top: 3%;
        margin-left: 5%;
        transition:0.5s ease;
    }


    
   footer .icones a{
        margin-left:30px;
        color:#fff;
        font-size:1.6em;
        transition:0.3s ease;
    }
    
    footer .icones a:not(:last-child){
        margin-bottom: 15%;
    }
    
    footer .icones a:hover{
        transform : scale(1.3);
    }



/*****************Tablette*********************/
@media (min-width : 775px) and (max-width: 1040px) {
    

    .main-title{
        font-size: 2.75em;
    }


    .section-title{
        font-size: 2em;
    }
    

    .sec-1 .content{
        margin-left: 20%;
        width: 125%;
    }

    
    .sec-1 .image{
        width: 100%;
    }

    .sec-1 .text-box{
        transform: translate(-100px, 175px);
    }

    .info-title{
        width: 100%;
    }


    /*****************SECTION 2*********************/
   
    .sec-2{
        padding-left:10%;
        padding-right:10%;
    }

    .sec-2 .content{
        width: 120%;
    }

   .sec-2 .section-title{
        width: 80%;
   }

    .info-title{
        font-size: 1.5em;
        width: 100%;
        
    }


    .info{
        text-align: justify;
        font-size: 1em;
        width: 40%;
    }

    /*****************SECTION 3*********************/
    .sec-3{
        padding-left:10%;
        padding-right:10%;
    }

   .sec-3 .content{
    padding-right: 10%;
    width: 150%;
   }
    .sec-3 .image{
        width: 60%;
    }

    .sec-3 .section-title{
        margin-left: 10%;
    }

    #text3{
        width: 100%;
        transform: translate(125px,125px);
        margin-bottom: 10%;
    }


    
}

/*****************Telephone*********************/

@media screen and (max-width: 775px){

    .main-title{
        font-size: 1.75em;
    }


    .section-title{
        font-size: 1.25em;
    }
    
    .sec-1 .content{
        width: 60%;
        margin-left: 10%;
    }

    .text-box .info-title{
        font-size: 1em;
    }
    .text-box{
        font-size: 0.75em;
    }




    /*****************SECTION 2*********************/


    .sec-2 .content{
        width: 125%;
    }

    .sec-2 .section-title{
        width: 80%;
    }
    .sec-2 .info-title{
        font-size: 1.25em;
    }


    .sec-2 .info{
        font-size: 0.75em;
        margin-left: 5%;
    }


    /*****************SECTION 3*********************/

    .sec-3 .content{
        width: 100%;
        padding-right: 10%;
    }



    #text3{
        width: 700px;
        transform: translate(75px, 100px);

    }


    .sec-3 .image{
        width: 50%;
    }
    


}
