* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/montagnes.jpg);
    background-attachment: fixed;
    background-position:center;
	padding-left:8%;
	padding-right:8%;
	box-sizing: border-box;
}




header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;

}


section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
}


/*****************NAVBAR*********************/
/*a remplacer par un logo*/

header .logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}

header .navbar {
    position: relative;
}

header .navbar .navbar-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navbar .navbar-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navbar .navbar-items a:hover:before {
    width: 100%;
}

/*****************SECTION 1*********************/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-title{
    font-size: 4em;
    margin-bottom: 50px;
}

.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}


.content .text-box{
    text-align: justify;
    z-index: 222;
    background: rgba(255 , 255 , 255 , 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255 , 255 , 255 , 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}


.content .text-box h3{

    font-size: 1.5em;
    margin-bottom: 10px;

}


/*****************SECTION 2*********************/

/*titres*/
.section-title{
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title{
    font-size: 1.8em;
    margin-bottom: 10px;
}


.info{
    width: 700px;
    margin-left: 50px;
}


/*****************SECTION 3*********************/

.sec-3{
    margin-bottom: 100px;
}
.sec-3 .content .text-box{
    text-align: justify;
    z-index: 222;
    background: rgba(255 , 255 , 255 , 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255 , 255 , 255 , 0.1);
    border-radius: 10px;
    transform: translate(80px, 50px);
}

/******************* NAVBAR FORMAT TABLETTE******************/

@media (max-width: 1040px) {
  header {

    padding: 12px 20px;

  }
  header .navbar {
    display: none;

  }
  header .navbar.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);

  }
  header .navbar .navbar-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;

  }
  header .navbar .navbar-items a:before {
    background: #222;
    height: 5px;

  }
  header .navbar.active .navbar-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

  }
  .menu-btn {
    background: url(images/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;

  }

  .menu-btn.active {
    z-index: 999;
    background: url(images/croix.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}
