* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/montagnes.jpg);
    background-attachment: fixed;
    background-position:center;
	padding-left:8%;
	padding-right:8%;
	box-sizing: border-box;
}


/*début en tête*/

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;

}

/*a remplacer par un logo*/

header .logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}

header .navbar {
    position: relative;
}

header .navbar .navbar-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navbar .navbar-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navbar .navbar-items a:hover:before {
    width: 100%;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding: 80px 100px;
    color: #fff;
}




/*****************SECTION 1*********************/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-title{
    font-size: 4em;
    margin-bottom: 50px;
}

.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}


.content .text-box{
    text-align: justify;
    z-index: 222;
    background: rgba(255 , 255 , 255 , 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255 , 255 , 255 , 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}


.content .text-box h3{

    font-size: 1.5em;
    margin-bottom: 10px;

}

/*titres des sections*/

.section-title{
    font-size: 3em;
    margin-bottom: 80px;
}
/*****************SECTION 2*********************/



.sec-2 .section-title{
    margin-right:600px;
}

.info-title{
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-right: 100px;
}


.info{
    width: 700px;
    margin-left: 50px;
}


/*****************SECTION 3*********************/


.sec-3 .content .text-box{
    text-align: justify;
    z-index: 222;
    background: rgba(255 , 255 , 255 , 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255 , 255 , 255 , 0.1);
    border-radius: 10px;
    transform: translate(80px, 50px);
}



@media (min-width : 775px) and (max-width: 1040px) {
    

    .main-title{
        font-size: 2.75em;
    }


    .section-title{
        font-size: 2em;
    }
    

    .content{
        max-width:80%;
       
    }

    #content1{
        margin-left: 25%;
    }


    .content .image{
        width: 70%;
    }


    .content .text-box{
        width: 30%;
        transform: translate(-250px, 150px);
    }


    /*****************SECTION 2*********************/
    .sec-2  .image{
        width: 60%;
    }
    .info-title{
        font-size: 1.5em;
        
    }


    .info{
        text-align: justify;
        font-size: 1em;
        width: 20%;
        border: 5px solid red;
    }

    .sec-3 .image{
        width: 60%;
        margin-right: 10%;
    }

   


    
}



@media (max-width: 775px){


 
   
    .main-title{
        font-size: 2em;
    }

    .container{
        margin-left: 60%;
    }

    sec-1 .content .image{

        margin-left: 105%;
        width: 350px;
        height: 200px;


        
    }
   


}
/*****************FOOTER*********************/

footer{
    background-color:black;
}

.monfooter{
    display: flex; /* Utilisation de Flexbox pour aligner les divs horizontalement */
    margin-bottom:7px;
    color :#fff;
}
.Adresse{
    text-align : center;
    color: #fff;
    margin-top:3%;
    margin-left:20%;
    flex:1;
    padding-bottom:4%;
}
.Adresse h2{
    margin-bottom:4%;
    color: #fff;
}
.Horaires{
    margin-top:3%;
    flex:1;
    text-align : center;
    margin-right:20%;
    color: #fff;
}
.Horaires h2{
    margin-bottom:4%;
    color: #fff;

}

.media-icons{
    position:absolute;
    display:flex;
    margin-left:43%;
    margin-top:12%;
    transition:0.5s ease;
}

.media-icons a{
    margin-left:30px;
    color:#fff;
    font-size:1.6em;
    transition:0.3s ease;
}

.media-icons a:not(:last-child){
    margin-bottom:20px;
}

.media-icons a:hover{
    transform : scale(1.3);
}
