body{
    width : 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/montagnes.jpg);
    background-color: #222222;
    background-attachment: fixed;

}

.formulaire{
    margin-top: 3%;
    margin-bottom: 20%;
}


h1 {
    margin-top: 12%;
    text-align: center;
   color: #fff ;
}

form {
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%; /* Ajout de marge en bas entre les groupes */
}

.form-group label {
    width: 45%; 
    margin-bottom: 0; /* Suppression de la marge en bas des étiquettes */
}

.form-group input[type="text"] {
    width: 45%; 
    margin-right: 2%; 
    margin-bottom: 0; 
}

label {
    display: block;
    margin-bottom: 3%;
    color: #fff;
}

label[for="email"] {
    color: #fff; 
}

label[for="sujet"] {
    color: #fff;
    margin-top: 5%; 
}

input[type="text"],

input[type="email"],

input[type="sujet"],

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}






