* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}



/*début en tête*/

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: black;
}

header .logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}

header .navbar .navbar-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navbar .navbar-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navbar .navbar-items a:hover:before {
    width: 100%;
}




/*Responsive Navbar*/

@media (max-width: 1040px) {
    header {

        padding: 12px 20px;

    }

    section {
        padding: 100px 20px;
    }

    header .navbar {
        display: none;

    }

    header .navbar.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);

    }

    header .navbar .navbar-items a {
        color: white;
        font-size: 1.2em;
        margin: 20px;

    }

    header .navbar .navbar-items a:before {
        background: white;
        height: 5px;

    }

    header .navbar.active .navbar-items {
        backdrop-filter: blur(8px);
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

    }

    .menu-btn {
        background: url(images/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;

    }

    .menu-btn.active {
        z-index: 999;
        background: url(images/croix.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

}

/*****************Fin Navabar*********************/

/*****************FOOTER*********************/

footer {
    background-color: black;
    display: flex ;
    flex-direction: row;
    width: 100%;
    padding-top: 2.5%;
    color: #fff;
}

footer .haute{
    display: flex;
    width: 35%;
    margin-left: 25%;
}

footer .basse{
    display: flex;
    width: 35%;
}



footer h2{
    margin-bottom: 5%;
    color: white;
}


    /**informations**/
footer .informations{
    width: 50%;;

}

footer .informations li {
    color: white;
    margin-bottom: 10%;
    margin-left: 2.5%;
    list-style-type: ">"
}

footer .informations li a{
    color: white;  
    margin-left: 5%;
    text-decoration: none;
     
}

     /**Adresse**/

     footer .adresse  {
        width: 50%;
    }


    /**Autres**/

    footer .autres{
        width: 50%;
    }

    footer .autres li {
        margin-bottom: 10%;
        list-style-type: none
    }

    footer  .autres li a{
        color: white; 
        text-decoration: none;
    }

    footer  .autres li svg{

        margin-right: 5%;
        
    }


    /**Icones**/

    footer .icones{
        position: relative;
        display:flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 5%;
        transition:0.5s ease;
    }


    
   footer .icones a{
        margin-left:30px;
        color:#fff;
        font-size:1.6em;
        transition:0.3s ease;
    }
    

    
    footer .icones a:hover{
        transform : scale(1.3);
    }



/*****************Tablette*********************/
@media (min-width : 775px) and (max-width: 1040px) {
    
    footer{
        width: 100%;
    }
    
    footer div{
        border: 5px solid red;
    }

    footer .haute{
        margin-left: 0%;
    }

    footer .basse{
        margin-left: 5%;

    }

    footer .basse .icones{
        margin-left: 15%;
    }

    footer .haute .adresse{
        margin-left: 15%;
    }

   
}

/*****************Telephone*********************/

@media screen and (max-width: 775px){

    
    footer{
       flex-direction: column;
       border: 5px solid white;
       width: 100%;
    }


    footer .haute{
        margin-left: 0%;
        width: 100%;
        border: 5px solid red;
    }

    footer .haute .informations li{
        margin-bottom: 5%;
    }

    footer .basse{
        width: 100%;
        border: 5px solid green;
        
    }

    footer .basse .autres li{
        font-size: 0.75em;

    }

    footer .basse .icones{
        padding-right: 10%;
        font-size: 0.75em;
        flex-direction: row;
        align-items: center;
    }

}

