* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
section {
    padding: 100px 200px;
}

.principal {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
    box-shadow: 90px 0 100px 100px black;

}

.principal:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.principal .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    display: none;

}

.principal .content.active {
    display: block;
}

.principal .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;

}

.principal .content h1 span {
    font-size: 1.2em;
    font-weight: 600;

}

.principal .content p {
    margin-bottom: 6%;

}

.principal .content a {
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.principal video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;

}

.slider-navigation .nav-btn.active {
    background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

/* change la taille des boutons pour le carrousel */
.slider-navigation .nav-btn:hover {
    transform: scale(1.5);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
.fond{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/montagnes.jpg);
    background-attachment: fixed;
    background-position:center;
}
/*****************SECTION 1*********************/
.sec-1{
    padding-left:10%;
	padding-right:10%;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4{
    text-align: start;
    color: white;
}

.main-title{
    color: white;
    font-size: 4em;
    margin-bottom: 50px;
}

.content{
    color: white;
    position: relative;
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.content .text-box{
    z-index: 222;
    text-align: justify;
    background: rgba(255 , 255 , 255 , 0.1);
    backdrop-filter: blur(20px);
    padding: 35px;
    max-width: 40%;
    border: 1px solid rgba(255 , 255 , 255 , 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}
.section-title{
    font-size: 3em;
    margin-bottom: 5%;
}

/*****************SECTION 2*********************/
.sec-2{
    padding-left:20%;
	padding-right:20%;
}

.sec-2 .content{
    
    width: 150%;
    height: 100%;

}

.sec-2 .section-title{
    color: white;
    width: 100%;
    margin-right: 40%;
}

.sec-2 .image
{
    width: 100%;
   
}
.info-title{
    font-size: 1.8em;
    margin-bottom: 2%;
    margin-right: 5%;
}


.info{
    text-align: justify;
    width: 70%;
    margin-left: 50px;
}

@media (min-width : 775px) and (max-width: 1040px) {
    

    .main-title{
        font-size: 2.75em;
    }


    .section-title{
        font-size: 2em;
    }
    

    .sec-1 .content{
        margin-left: 20%;
        width: 125%;
    }

    
    .sec-1 .image{
        width: 100%;
    }

    .sec-1 .text-box{
        transform: translate(-100px, 175px);
    }

    .info-title{
        width: 100%;
    }

    /*****************SECTION 2*********************/
   
    .sec-2{
        padding-left:10%;
        padding-right:10%;
    }

    .sec-2 .content{
        width: 120%;
    }

   .sec-2 .section-title{
        width: 80%;
   }

    .info-title{
        font-size: 1.5em;
        width: 100%;
        
    }


    .info{
        text-align: justify;
        font-size: 1em;
        width: 40%;
    }
}

@media screen and (max-width: 775px){

    .main-title{
        font-size: 1.75em;
    }


    .section-title{
        font-size: 1.25em;
    }
    
    .sec-1 .content{
        
        margin-left: 10%;
    }

    .text-box .info-title{
        font-size: 1em;
    }
    .text-box{
        font-size: 0.75em;
    }
    /*****************SECTION 2*********************/
    .sec-2{
        padding-left:12.5%;
        padding-right:12.5%;
    }

    .sec-2 .content{
        width: 125%;
    }

    .sec-2 .section-title{
        width: 80%;
    }
    .sec-2 .info-title{
        font-size: 1.25em;
    }


    .sec-2 .info{
        font-size: 0.75em;
        margin-left: 5%;
    }

}