*{
    box-sizing: border-box;
}
body{
    width : 100%;
    height: 100vh;
    background-image: url(images/main.png);
    background-color: #222222;
    background-attachment: fixed;

}

h2{
   text-align: center;
    margin-top: 10%;
}

#fille{
    height: 50%;
    width: 50%;
    margin-top: 2%;
    margin-left: 5%;
}

.sec-1{
    display: flex;
    margin: 0 auto;
}

.sec-2{
    text-align: justify;
    z-index: 222;
    background: rgba(255 , 255 , 255 , 0.1);
    backdrop-filter: blur(20px);
    padding: 2%;
    border: 1px solid rgba(255 , 255 , 255 , 0.1);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 50px;
    margin-top: 2%;
}



#card-img-top{
    border-radius:10%;
    padding: 5%;
}

.card{
    border-radius: 200px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/main.png);
    background-size: cover;
    background-position: center;
}

.card-body{
    padding: 25px;
    margin-top: -15px;

}

.btn-primary{
    border-radius: 5Opx;
    width: 120px;
    background-color: blue;
}

.btn-primary:hover{
    background-color: black;
}









#rond{
    margin-top: 30%;
    margin-left: 60%;

}

